* {
	padding: 0;
	margin: 0;
	font-family:  sans-serif;
	box-sizing: border-box;
}
/* Clear fix */
.body::after{
	content: "";
	display: table;
	clear: both;
}
#nav-box {
	position: fixed;
	width: 100%;
	height: 100px;
	background-color: orange;
	z-index: 1;
}
#master-header{
	top: 100px;
	position: absolute;
	width: 100%;
	height: 300px;
	background-color: gray;
}
#big-box{
	width: 100%;
	height: 2000px;
	background-color: pink;
}

#blue-box{
	float: left;
	width: 33.33%;
	height: 100px;
	background-color: blue;
	display: inline-block;
}
#green-box{
	float: left;
	width: 33.33%;
	height: 100px;
	background-color: green;
	display: inline-block;
}
#purple-box{
	float: left;
	width: 33.33%;
	height: 100px;
	background-color: purple;
	display: inline-block;
}
#yellow-box{
	width: 100px;
	height: 150px;
	background-color: yellow;
	display: inline-block;
}
