* {
	padding: 0;
	margin: 0;
	font-family:  sans-serif;
	box-sizing: border-box;
}
/* Clear fix */
.body::after{
	content: "";
	display: table;
	clear: both;
}
#nav-box{
	width: 100%;
	height: 100px;
	background-color: orange;
}
#master-header{
	position: absolute;
	width: 100%;
	height: 300px;
	background-color: gray;
}
#big-box{
	width: 100%;
	height: 2000px;
	background-color: pink;
}

#blue-box{
	left: 50px;
	width: 100px;
	height: 150px;
	background-color: blue;
	display: inline-block;
}
#green-box{
	width: 100px;
	height: 150px;
	background-color: green;
	display: inline-block;
}
#purple-box{
	width: 100px;
	height: 150px;
	background-color: purple;
	display: inline-block;
}
#yellow-box{
	width: 100px;
	height: 150px;
	background-color: yellow;
	display: inline-block;
}
